:root {
  --border: rgb(229 229 229 / 40%);
  --fill: rgb(229 229 229 / 20%);
  --secondary: rgb(107 114 128);
  --primary: rgb(245 158 11);
  --color-box-border-info: var(--border);
  --color-border-default: var(--border);
  --color-accent-emphasis: rgb(from var(--primary) r g b / 40%);
  --color-accent-subtle: rgb(from var(--primary) r g b / 10%);
}

blockquote {
  border-left-width: 2px !important;
  border-color: rgb(229 231 235);
  color: rgb(107 114 128) !important;
  border-left-style: solid;
  margin: 16px 0 !important;
  padding-left: 16px !important;
  transition: border-color 0.5s;
}

textarea::placeholder {
  color: var(--secondary);
}

a {
  color: var(--primary);
  text-underline-offset: 0.2em;
}

pre {
  background-color: var(--fill) !important;
  border-radius: 0.5rem !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: rgb(60 60 60 / 60%);
    --fill: rgb(60 60 60 / 20%);
    --secondary: rgb(163 163 163);
    --primary: rgb(252 211 77);
  }

  .gsc-comment-box-buttons a,
  .btn-primary {
    color: black !important;
  }

  .gsc-reactions-popover {
    background-color: #121212 !important;
  }

  blockquote {
    border-color: rgb(60 60 60) !important;
    color: rgb(163 163 163) !important;
  }
}

.gsc-left-header em {
  color: var(--secondary);
}

.gsc-comments {
  gap: 0;
}

.gsc-timeline {
  gap: 0;
}

.gsc-comment {
  padding: 1rem 0;
}

.gsc-comment > div {
  border: none;
}

.gsc-comment:not(:last-child) {
  border-bottom: var(--border) solid 1px;
}

.gsc-comment-author a {
  color: inherit;
  text-decoration-color: var(--secondary);
}

.gsc-reply-author a {
  color: inherit;
  text-decoration-color: var(--secondary);
}

.gsc-comment time {
  color: var(--secondary);
}

.gsc-comment-box {
  border: none;
}

.gsc-comment-box-tabs {
  border: none;
}

.gsc-comment-box-buttons a {
  border: none;
  padding: 0.6rem 1rem;
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem !important;
}

.gsc-comment-box-buttons a:hover {
  background-color: hsl(from var(--primary) h s calc(l * 0.9));
}

.gsc-comment-box-textarea,
.gsc-comment-box-textarea:focus {
  border: var(--border) 1px solid;
  border-top: none;
  border-radius: 0;
}
.gsc-comment-box-textarea-extras {
  background-color: var(--fill);
  border: var(--border) 1px solid;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.gsc-comment-box-tabs button {
  border: none;
}

.gsc-comment-box-tabs button.color-bg-canvas {
  border-bottom: var(--primary) 2px solid !important;
}

.gsc-comment-box-tabs {
  margin: 0 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  border: var(--border) 1px solid;
  border-bottom: unset;
}

.gsc-comment-box-tabs > div:first-child {
  margin-inline-start: 0 !important;
  margin-top: 0 !important;
}

.gsc-comment-box-md-toolbar {
  margin-top: 0 !important;
}

.gsc-comment-box-preview {
  border: var(--border) 1px solid;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.BtnGroup-item {
  border: none;
  border-radius: 0;
  border-bottom: transparent 2px solid !important;
}

.BtnGroup-item--selected {
  border-bottom: var(--primary) 2px solid !important;
}

.gsc-comment-replies-count {
  color: var(--secondary);
}

.gsc-reactions-button {
  border: var(--border) 1px solid;
}

。gsc-upvote-button {
  border: var(--border) 1px solid !important;
}

.gsc-reply-box {
  border: none !important;
}

.gsc-replies {
  border-top: none;
}

.gsc-reply-box button {
  border: var(--border) 1px solid;
  border-radius: 0.5rem !important;
  padding: 0.6rem 1rem !important;
}

.gsc-comment-box-buttons button {
  padding: 0.6rem 2rem !important;
  border: var(--border) 1px solid;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: transparent 1px solid;
}

.btn-primary[disabled] {
  background-color: var(--primary);
  color: white;
  border: transparent 1px solid;
  opacity: 0.4;
}

.gsc-reactions-popover {
  border-radius: 0.5rem;
  background: white;
  border: var(--border) 1px solid;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.gsc-reactions-popover::before {
  display: none;
}

.color-border-primary {
  border-color: var(--border);
}

/* 所有者 */
.color-box-border-info.font-medium.capitalize.ml-1.rounded-xl.border {
  color: var(--secondary);
}

.gsc-reply {
  padding-left: 4rem;
}

.ClipboardButton {
  border: var(--border) 1px solid;
  color: var(--secondary);
}

.Box,
.flash {
  border-radius: 0.5rem !important;
}

.Box-header {
  border: none;
  border-bottom: var(--border) 1px solid;
  background-color: var(--fill);
}

.blob-num {
  background-color: var(--fill);
}

.flash {
  border: none;
}

/* syntax highlighting */
:root {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  }
}
